<div class="modal bst-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"><h4>déconnecter <i class="fa fa-lock"></i></h4></div>
      <div class="modal-body"><i class="fa fa-question-circle"></i> Êtes-vous sûr de déconnecter?</div>
      <div class="modal-footer"><a href="javascript:void(0);" (click)="logout()" class="btn btn-danger btn-block" data-dismiss="modal">Déconnecter </a></div>
    </div>
  </div>
</div>
<app-dashboard></app-dashboard>
<br>
 <div class="text-right">
  <button class="btn-success btn" (click)="setEtat()">
    <i [ngClass]="{
      'fa fa-minus ':etat===true,
      'fa fa-plus':etat===false} "></i>
   
  </button>
</div>
<div class="row" >
  <div class="col-md-10 mx-auto"> 
<div class="col-md-6 mx-auto mb-3" *ngIf="etat">
  <h1 class="text-center">Nouvelle Domain</h1>
  <div class="form-group">
      <label for="name">Nom</label>
      <input id="name" [(ngModel)]="domain.nom" placeholder=" Nom d'editeur de domaine"  type="text" class="form-control" >
      <label for="domain">Nom Editeur</label>
      <input id="domain" [(ngModel)]="domain.nomEditeur" placeholder="Nom de domain"  type="text" class="form-control">
  </div>
  <button  *ngIf="operation" (click)="AjouterDomain()" class="btn btn-primary btn-block">Add</button>
  <button  *ngIf="!operation" (click)="modifierDomaian()" class="btn btn-danger btn-block">update</button>

</div>
</div>
<div class="col-md-10 mx-auto">
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
    <thead class="bg-danger">
      <tr>
        <th>ID</th>
        <th>NOM DOMAIN</th>
        <th>NOM DOMAIN EDITEUR</th>
        <th>ACTION</th>
        <th>Configuration</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let domain of Domains,index as i'>
        <td>{{ domain.id }}</td>
        <td>{{ domain.nom }}</td>
        <td>{{ domain.nomEditeur }}</td>
        <td>
        

      <button  (click)="editDomain(domain)" class="btn btn-sm btn-warning mr-1">
        <i class="fa fa-pencil"></i>
      </button>
      <swal #confirmFileDeletionSwal 
            title="étes-vous sur de supprimer ce domain?" text="Delete record" type="warning"
            [options]="{ showCancelButton: true,  confirmButtonText: 'Supprimer!',  confirmButtonColor: '#DD6B55' }"
            (confirm)="supprimerDomain(domain.id,domain)"
            timer=2000
            (cancel)="true"></swal>

      <button (click)="confirmFileDeletionSwal.show()" class="btn btn-sm btn-danger">
        <i class="fa fa-trash"></i>
      </button>
        </td>
        <td>
            <a routerLink="/paramdomain/{{domain.id}}"><button  class="btn btn-sm ">
                <i class="fa fa-cog "></i>
               
            </button></a>
        </td>
        </tr>
    
</tbody>
</table>
</div>
</div>
<br>
<br>
<swal #MessageError 
  title="error connexion backend?" 
  text="probléme http" 
  type="error">
</swal>       
<app-list-messsage></app-list-messsage>
<app-message-info></app-message-info> 
<app-incident-rsolus-admin></app-incident-rsolus-admin>
<app-incident-encour-admin></app-incident-encour-admin>




