<div class="modal bst-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header"><h4>Logout <i class="fa fa-lock"></i></h4></div>
      <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log-off?</div>
      <div class="modal-footer"><a href="javascript:void(0);" (click)="logout()" class="btn btn-danger btn-block" data-dismiss="modal">Logout</a></div>
    </div>
  </div>
</div>
<app-dashboard></app-dashboard>
<br>
 <div class="text-right">
  <button class="btn-success btn" (click)="setEtat()">
    <i [ngClass]="{
      'fa fa-minus ':etat===true,
      'fa fa-plus':etat===false} "></i>
   
  </button>
</div>
<div class="row" >
  <div class="col-md-10 mx-auto"> 
<div class="col-md-4 mx-auto mb-4" *ngIf="etat">
  <h1>Nouvelle Domain</h1>
  <div class="form-group">
      <label for="name">Name</label>
      <input [(ngModel)]="domain.nom" placeholder="nom de domain"  value="" type="text" class="form-control" >
  </div>
  <div class="form-group">
      <label for="author">Nom Editeur</label>
      <input [(ngModel)]="domain.nomEditeur" placeholder=" nom d'editeur"  type="text" class="form-control">
  </div>
  <button  *ngIf="operation" (click)="AjouterDomain()" class="btn btn-primary btn-block">Add</button>
  <button  *ngIf="!operation" class="btn btn-danger btn-block">update</button>

</div>
</div>
<div class="col-md-10 mx-auto">
<table datatable [dtOptions]="dtption" [dtTrigger]="dtTrigger" class="table table-striped">
    <thead class="bg-danger">
      <tr>
        <th>ID</th>
        <th>NOM DOMAIN</th>
        <th>NOM DOMAIN EDITEUR</th>
        <th>ACTION</th>
        <th>Configuration</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let domain of Domains,index as i'>
        <td>{{ domain.id }}</td>
        <td>{{ domain.nom }}</td>
        <td>{{ domain.nomEditeur }}</td>
        <td>
        

      <button  (click)="editDomain(domain)" class="btn btn-sm btn-warning mr-1">
        <i class="fa fa-pencil"></i>
      </button>
      <swal #confirmFileDeletionSwal 
            title="étes-vous sur de supprimer ce domain?" text="Delete record" type="warning"
            [options]="{ showCancelButton: true,  confirmButtonText: 'Supprimer!',  confirmButtonColor: '#DD6B55' }"
            (confirm)="supprimerDomain(domain.id)"
            timer=2000
            (cancel)="true"></swal>

      <button (click)="confirmFileDeletionSwal.show()" class="btn btn-sm btn-danger">
        <i class="fa fa-trash"></i>
      </button>
        </td>
        <td>
            <a routerLink="/paramdomain/{{domain.id}}"><button  class="btn btn-sm ">
                <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </button></a>
        </td>
        </tr>
    
</tbody>
</table>
 
  
  
</div>
</div>
<app-list-messsage></app-list-messsage>
<app-message-info></app-message-info> 

<!-- {{pageable | json}} -->
<!-- {{Domains | json}}  -->



