<div class="modal fade bd4-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Incident Encours</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr class="bg-success">
                  <th scope="col">Numero</th>
                  <th>Group charge de l'action</th>
                  <th scope="col">Priorite</th>
                  <th scope="col" width="20px">Intervenants</th>
                  <th scope="col">Date de creation</th>
                  <th scope="col">Date SAL</th>
                  <th>Dead Line group</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let encours of domain_recus_editeur">
                    <td>{{encours.numero}}</td>
                    <td>{{encours.groupeEncharge}}</td>
                    <td>{{encours.priorite}}</td>
                  <td>{{encours.intervenant}}</td>
                  <td>{{encours.actionDateCreation}}</td>
                  <td>{{encours.date_SLA}}</td>
                  <td>{{encours.deadLineGrp}}</td>     
                </tr>
              </tbody>
            </table>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
      </div>
      
    </div>
  </div>