
<div class="row">
    <div class="col-md-11 m-auto">
<table class="table table-bordered">
  <thead style="text-align:center;" class="thead-dark">
    <tr>
      
      <th width="500" >Nom de domaine<button type="button" class="btn btn-dark ml-2 mr-2"  (click)="setVisible()"><i class="fa fa-low-vision"></i></button></th>
      <th scope="col" width="130px">Encours</th>
      <th width="130px">Editeurs</th>
      <th width="130px">Priorité</th>
      <th scope="col" width="130px">Non affecté</th>
      <th width="130px">SLA</th>
      <th width="130px">OLA</th>
      <th width="130px">OLA+</th>
      <th width="130px">2,5</th>
      <th width="130px">2.5+</th>
      <th scope="col" width="130px">Recus</th>
      <th width="130px">Résolus</th>
      <th width="130px">Résolus hors OLA</th>
    </tr>
  </thead>
  <tbody>
   <tr *ngFor="let resultat of resultats,index as i">
     
   <td> 
     <h6>
     {{resultat[1]}} 
     </h6> 
     <div *ngIf="flague==false">
     <div class="btn-group" role="group" aria-label="Basic example">
     <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" (click)=" SendbEncours(resultat[0].listIncidentEncours)">
      Encours
      </button>

      <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd4-example-modal-lg" (click)=" SendbEditeur(resultat[0].listIncidentEncours)">
        Editeur   
      </button>

      <button type="button" class="btn btn-info" data-toggle="modal" data-target=".bd2-example-modal-lg" (click)=" SendRecus(resultat[0].listIncidentRecus)">
       Recus
      </button> 
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bd5-example-modal-lg" (click)="SendbEncours(resultat[0].listIncidentEncours)">
        Ola
      </button> 
      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".bd6-example-modal-lg" (click)="SendbEncours(resultat[0].listIncidentEncours)">
          Ola X 2,5
        </button>
    </div>
  </div>
    </td>
   <td align="center" valign="middle" height="10"><h1>
      <div [ngClass]="{'btn btn-success':true,
    'btn btn-warning':resultat[2].encours>=resultat[0].list_Indicateur[0].list_Indicateur_param[1].min && resultat[2].encours<=resultat[0].list_Indicateur[0].list_Indicateur_param[1].max,
    'btn btn-danger':resultat[2].encours>=resultat[0].list_Indicateur[0].list_Indicateur_param[2].min,
    'btn btn-info':resultat[2].editeur>=100}">{{resultat[2].encours}}
  </div></h1>
</td>
   <td align="center" valign="middle"><h1>
      <div [ngClass]="{'btn btn-success':true,
    'btn btn-warning':resultat[2].editeur>=resultat[0].list_Indicateur[1].list_Indicateur_param[1].min && resultat[2].editeur<=resultat[0].list_Indicateur[1].list_Indicateur_param[1].max,
    'btn btn-danger':resultat[2].editeur>=resultat[0].list_Indicateur[1].list_Indicateur_param[2].min,
    'btn btn-info':resultat[2].editeur>=100}">
    {{resultat[2].editeur}}</div></h1></td>

   <td align="center" valign="middle"><h1>
      <div [ngClass]="{'btn btn-success':true,
    'btn btn-warning':resultat[2].p1>=resultat[0].list_Indicateur[2].list_Indicateur_param[1].min && resultat[2].p1<=resultat[0].list_Indicateur[2].list_Indicateur_param[1].max,
    'btn btn-danger':resultat[2].p1>=resultat[0].list_Indicateur[2].list_Indicateur_param[2].min,
    'btn btn-info':resultat[2].editeur>=100}">
    {{resultat[2].p1}}</div></h1></td>
      <td align="center" valign="middle"><h1>
          <div [ngClass]="{'btn btn-success':true,
        'btn btn-warning':resultat[2].nonAffec>=resultat[0].list_Indicateur[3].list_Indicateur_param[1].min && resultat[2].nonAffec<=resultat[0].list_Indicateur[3].list_Indicateur_param[1].max,
        'btn btn-danger':resultat[2].nonAffec>=resultat[0].list_Indicateur[3].list_Indicateur_param[2].min,
        'btn btn-info':resultat[2].editeur>=100}">
    {{resultat[2].nonAffec}}</div></h1></td>
   <td align="center" valign="middle"><h1>
      <div [ngClass]="{'btn btn-success':true,
      'btn btn-warning':resultat[2].slako>=resultat[0].list_Indicateur[4].list_Indicateur_param[1].min && resultat[2].slako<=resultat[0].list_Indicateur[4].list_Indicateur_param[1].max,
      'btn btn-danger':resultat[2].slako>=resultat[0].list_Indicateur[4].list_Indicateur_param[2].min,
      'btn btn-info':resultat[2].editeur>=100}">{{resultat[2].slako}}
  </div></h1></td>
   <td align="center" valign="middle"><h1>
      <div [ngClass]="{'btn btn-success':true,
      'btn btn-warning':resultat[2].olako>=resultat[0].list_Indicateur[5].list_Indicateur_param[1].min && resultat[2].olako<=resultat[0].list_Indicateur[5].list_Indicateur_param[1].max,
      'btn btn-danger':resultat[2].olako>=resultat[0].list_Indicateur[5].list_Indicateur_param[2].min,
      'btn btn-info':resultat[2].editeur>=100}">
    {{resultat[2].olako}}</div></h1></td>

      <td align="center" valign="middle"><h1>
          <div [ngClass]="{'btn btn-success':true,
          'btn btn-warning':resultat[2].olanko>=resultat[0].list_Indicateur[6].list_Indicateur_param[1].min && resultat[2].olanko<=resultat[0].list_Indicateur[6].list_Indicateur_param[1].max,
          'btn btn-danger':resultat[2].olanko>=resultat[0].list_Indicateur[6].list_Indicateur_param[2].min,
          'btn btn-info':resultat[2].editeur>=100}">
     {{resultat[2].olanko}}
    </div></h1></td>

   <td align="center" valign="middle"><h1>
      <div [ngClass]="{'btn btn-success':true,
      'btn btn-warning':resultat[2].deux_cinq>=resultat[0].list_Indicateur[7].list_Indicateur_param[1].min && resultat[2].deux_cinq<=resultat[0].list_Indicateur[7].list_Indicateur_param[1].max,
      'btn btn-danger':resultat[2].deux_cinq>=resultat[0].list_Indicateur[7].list_Indicateur_param[2].min,
      'btn btn-info':resultat[2].editeur>=100}">
     {{resultat[2].deux_cinq}}
    </div></h1></td>
    
   <td align="center" valign="middle"><h1>
      <div [ngClass]="{'btn btn-success':true,
      'btn btn-warning':resultat[2].deux_cinq_plus>=resultat[0].list_Indicateur[8].list_Indicateur_param[1].min && resultat[2].deux_cinq_plus<=resultat[0].list_Indicateur[8].list_Indicateur_param[1].max,
      'btn btn-danger':resultat[2].deux_cinq_plus>=resultat[0].list_Indicateur[8].list_Indicateur_param[2].min,
      'btn btn-info':resultat[2].editeur>=100}">
    {{resultat[2].deux_cinq_plus}}</div></h1></td>
  <td align="center" valign="middle"><h1>
          <div [ngClass]="{'btn btn-success':true,
          'btn btn-warning':resultat[2].recu>=resultat[0].list_Indicateur[9].list_Indicateur_param[1].min && resultat[2].recu<=resultat[0].list_Indicateur[9].list_Indicateur_param[1].max,
          'btn btn-danger':resultat[2].recu>=resultat[0].list_Indicateur[9].list_Indicateur_param[2].min,
          'btn btn-info':resultat[2].editeur>=100}"> 
    {{resultat[2].recu}}</div></h1></td>
   <td align="center" valign="middle">
    
  <button type="button" class="btn btn-outline-success btn-sm"  data-toggle="modal" data-target=".bdResolus-example-modal-lg" (click)="SendResolus(resultat[0].listResolus)">
      <i class="fa fa-check"></i><b>{{resultat[2].resolu}}</b></button> 
</td>
<td align="center" valign="middle">
<button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target=".bdResolushors-example-modal-lg" (click)="SendResolus(resultat[0].listResolus)">
    <i class="fa fa-free-code-camp"></i> <b>{{resultat[2].resoluHorsOla}}</b> 
    
</button>
</td>
   </tr>
   <tr class="text-center"> 
     
     <td> 
    <h3>Total</h3>
    </td>
     <td align="center"><button type="button" class="btn btn-info"><h3>{{Totale.Tencours}}</h3></button></td>
     <td align="center"><button type="button" class="btn btn-info"><h3>{{Totale.Tediteur}}</h3></button></td>
     <td align="center"><button type="button" class="btn btn-info"><h3>{{Totale.Tp}}</h3></button></td>
     <td align="center"><button type="button" class="btn btn-info"><h3>{{Totale.Taffec}}</h3></button></td>
     <td align="center"><button type="button" class="btn btn-info"><h3>{{Totale.sla}}</h3></button></td>
     <td align="center"><button type="button" class="btn btn-info"><h3>{{Totale.ola}}</h3></button></td>
     <td align="center"><button type="button" class="btn btn-info"><h3>{{Totale.olanko}}</h3></button></td>
     <td align="center"><button type="button" class="btn btn-info"><h3>{{Totale.oladeuxCinque}}</h3></button></td>
     <td align="center"><button type="button" class="btn btn-info"><h3>{{Totale.oladeuxCinqueplus}}</h3></button></td>
     <td align="center"><button type="button" class="btn btn-info"><h3>{{Totale.Trecus}}</h3></button></td>
     <td align="center"><button type="button" class="btn btn-info"><h3>{{Totale.resolus}}</h3></button></td>
     <td><button type="button" class="btn btn-info"><h3>{{Totale.resolusHorsOla}}</h3></button></td>
   </tr>
  </tbody>
</table>
<app-footer></app-footer>
<app-infodomain [domains_encours]="domainEncours"></app-infodomain>
<app-infodomain-recus [domain_recus]="domainRecus"></app-infodomain-recus>
<app-infodomain-editeur [domain_recus_editeur]="domainEditeur"></app-infodomain-editeur>
<app-info-date [domains_encours]="domainEncours"></app-info-date>
<app-info-date-deux-cinq [domains_encours]="domainEncours"></app-info-date-deux-cinq>
<app-info-resolus [domains_resolus]="domainResolus"></app-info-resolus> 
<app-info-resolushors-ola [domains_resolus_horsola]="domainResolus"></app-info-resolushors-ola>

<swal #MessageError 
  title="error connexion backend?" 
  text="probléme http" 
  type="error"
  >
</swal>  
</div>
</div>
