<div class="row col-sm-8 mx-auto">
  <div class="col-lg col-sm-2">
      <div class="card h-100 mb-2">
          <div class="card-block text-center">
              <h1 class="p-3 text-muted"></h1>
              <img src="{{maroc}}">
          </div>
          <div class="card-footer text-center"><div class="serif">{{ today | date:'medium'}}</div></div>
      </div>
  </div>
  <div class="col-lg col-sm-2">
      <div class="card h-100 mb-2">
          <div class="card-block text-center">
              <h1 class="p-3 text-muted"></h1>
              <img src="{{Atos}}">
          </div>
         
      </div>
  </div>
  <div class="col-lg col-sm-2">
    <div class="card h-100 mb-2">
        <div class="card-block text-center">
            <h1 class="p-3 text-muted"></h1>
            <img src="{{Auchan}}">
        </div>
       
    </div>
</div>
  <div class="col-lg col-sm-2">
      <div class="card h-100 mb-2">
          <div class="card-block text-center">
              <h1 class="p-3 text-muted"></h1>
              <img src="{{france}}">
          </div>
          <div class="card-footer text-center"><div class="serif">{{ todayfr | date:'medium'}}</div></div>
      </div>
  </div>
  </div>
 <br>