
<div class="modal fade clock-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-lg"><div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle" >Date et heure</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
<br>
<div class="row col-sm-12 mx-auto">
  <div class="col-lg col-sm-2">
      <div class="card h-100 mb-2">
          <div class="card-block text-center">
              <h1 class="p-3 text-muted"></h1>
              <img src="{{maroc}}">
          </div>
          <div class="card-footer text-center"><div class="serif">{{ today | date:'medium'}}</div></div>
      </div>
  </div>
  <div class="col-lg col-sm-2">
      <div class="card h-100 mb-2">
          <div class="card-block text-center">
              <h1 class="p-3 text-muted"></h1>
              <img src="{{Atos}}">
          </div>
         
      </div>
  </div>
  <div class="col-lg col-sm-2">
    <div class="card h-100 mb-2">
        <div class="card-block text-center">
            <h1 class="p-3 text-muted"></h1>
            <img src="{{Auchan}}">
        </div>
       
    </div>
</div>
  <div class="col-lg col-sm-2">
      <div class="card h-100 mb-2">
          <div class="card-block text-center">
              <h1 class="p-3 text-muted"></h1>
              <img src="{{france}}">
          </div>
          <div class="card-footer text-center"><div class="serif">{{ todayfr | date:'medium'}}</div></div>
      </div>
  </div>
  </div>
 <br>
 <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
 </div>
 </div>
 </div>