<div class="col-md-11 m-auto">
<div class="row">
    <div class="col-lg col-sm-4">
        <div class="card h-100 mb-2">
            <div class="card-block text-center">
                <h1 class="p-3 text-muted"><img src="{{incident}}"></h1>
            </div>
            <div class="card-footer text-center">INCIDENTS ENCOURS<br><button class="btn btn-danger mt-1"  data-toggle="modal" data-target=".bdE-example-modal-lg">
                     <i class="fa fa-exclamation-triangle"></i></button></div>
        </div>
    </div>
    <div class="col-lg col-sm-4">
        <div class="card h-100 mb-2">
            <div class="card-block text-center">
                <h1 class="p-3 text-muted"><img src="{{registration}}"></h1>
            </div>
            <div class="card-footer text-center"> INCIDENTS RESOLUS<br>
                <button class="btn btn-primary mt-1"  data-toggle="modal" data-target=".bdRA-example-modal-lg">
                 <i class="fa fa-check-square-o"></i></button></div>
            
        </div>
    </div>
    <div class="col-lg col-sm-4">
        <div class="card h-100 mb-2">
            <div class="card-block text-center">
                <h1 class="p-3 text-muted"><img src="{{monitoring}}"></h1>
            </div>
            <div class="card-footer text-center">Statistique<br>
                <button type="button" class="btn btn-Light ml-1 mr-1 mt-1" data-toggle="modal" data-target=".bdg-example-modal-lg">
                        <i class="fa fa-bar-chart"></i>
                    </button>
                    <button type="button" class="btn btn-warning ml-2 mr-2 mt-1" data-toggle="modal" data-target=".br-example-modal-lg">
                            <i class="fa fa-pie-chart"></i>
                    </button>
            </div>
        </div>
    </div>
    <div class="col-lg col-sm-4" >
        <div class="card h-100 mb-2">
            <div class="card-block text-center">
                <h1 class="p-3 text-muted"><img src="{{image}}"></h1>
            </div >
            <div class="card-footer text-center">
                Message
                <br>
                <a  data-toggle="modal" data-target="#exampleModalLong">
              <button class="btn btn-secondary ml-1 mr-1 mt-1" width="150"><i class="fa fa-envelope-o"></i></button>
            </a>
            <button class="btn btn-primary  ml-1 mr-1  mt-1" width="150" data-toggle="modal" data-target=".bd3-example-modal-lg">
                    <i class="fa fa-th-list"></i> </button>
        </div>
       
    </div>
    </div>
    </div>
</div>
<!-- <div class="row py-2"> 
    <div class="w-100"> </div>
    <div class="col-xl col-md-6 pb-3">
        <div class="card h-100">
            <div class="row h-100 no-gutters">
                <div class="col-6 p-3">
                    <h5>Server Health</h5>
                    <h2>89%</h2>
                </div>
                <div class="col bg-info text-white d-flex">
                    <h1 class="mx-auto align-self-center">
                        <i class="fa fa-2x fa-heart-o"></i>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl col-md-6 pb-3">
        <div class="card h-100">
            <div class="row h-100 no-gutters">
                <div class="col-6 p-3">
                    <h5>Swapfile</h5>
                    <h2>1200 GB</h2>
                </div>
                <div class="col bg-inverse text-white d-flex">
                    <h1 class="mx-auto align-self-center">
                        <i class="fa fa-2x fa-battery-quarter"></i>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl col-md-6 pb-3">
        <div class="card h-100">
            <div class="row h-100 no-gutters">
                <div class="col-6 p-3">
                    <h5>Core Threads</h5>
                    <h2>5</h2>
                </div>
                <div class="col bg-inverse text-white d-flex">
                    <h1 class="mx-auto align-self-center">
                        <i class="fa fa-2x fa-signal"></i>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl col-md-6 pb-3">
        <div class="card h-100">
            <div class="row h-100 no-gutters">
                <div class="col-6 p-3">
                    <h5>Database</h5>
                    <h2>24%</h2>
                </div>
                <div class="col bg-inverse text-white d-flex">
                    <h1 class="mx-auto align-self-center">
                        <i class="fa fa-2x fa-database"></i>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div> -->