 <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Message sera visible pour tous le monde</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="input-group mb-2">
              <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-comment text-danger"></i></div>
              </div>
              <textarea class="form-control" placeholder="Ecrire Votre message" required rows="5" [(ngModel)]="msg.message"></textarea>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
  <swal
  #AjouterSwal
  title="Ajouter"
  text="Ajouter par succé"
  type="success"
  [showCancelButton]="false"
  [focusCancel]="false"
  timer="1500">
</swal>
        <button type="button" class="btn btn-primary" (click)="Addmessage()" [disabled]="!msg.message" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div> 


